.simply-countdown {
  overflow: hidden;
  display: table;
  font-family: "Arial", sans-serif;
  margin: auto;
}

.simply-countdown > .simply-section .simply-amount,
.simply-countdown > .simply-section .simply-word {
  display: block;
  text-align: center;
}
.simply-countdown > .simply-section .simply-amount {
  font-size: 1.8rem;
}
